@import 'variables';
@import 'gotham';
@import 'bootstrap';

// ----------------------------------
// CSS Fixes
// ---------

// Position radios and checkboxes better
.radio *[type="radio"],
.checkbox *[type="checkbox"] {
  // fixes input[type=radio,checkbox] top margin.
  // original theme definition break the current theme.
  margin: 0;
}

// ----------------------------------
// CSS Additions
// -------------

.navbar.navbar-form {
  border-top: 1px solid $gray-light;

  .nav li {
    display: inline-block;
  }
}
