@import 'variables';
@import 'gotham';
@import 'bootstrap';

// ----------------------------------
// CSS Fixes
// ---------

// Position radios and checkboxes better
.radio *[type="radio"],
.checkbox *[type="checkbox"] {
  // fixes input[type=radio,checkbox] top margin.
  // original theme definition break the current theme.
  margin: 0;
}

// ----------------------------------
// CSS Additions
// -------------

.navbar.navbar-form {
  border-bottom: 1px solid $gray-light;
  border-top: 1px solid $gray-light;
  height: 36px;
  margin: 0;
  padding: $padding-base-vertical 0;

  .navbar-nav {
    margin: 0;
  }

  .nav li {
    display: inline-block;
    margin: 0 $grid-gutter-width/2;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
